.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  padding: 35px 100px;
  color: black;
  position: relative;
}

.topbar {
  margin-top: 35px;
  margin-bottom: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.searchbar { 
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.search_input {
  padding-left: 20px;
  border: none;
  background-color: transparent;
}

.search_input:focus-visible {
  outline: none;
}
.searchbar { 
  width: 300px;
  padding: 18px;
  border: 1px solid #BDBDBD;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;

  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}
.btn_add_photo { 
  margin-left: auto;
  padding: 16px 20px;
  background: #3DB46D;
  color: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.btn_add_photo:hover {
  cursor: pointer;
  background: #09bb50;
}

/* center card horizontally in masonry grid */
.masonry_grid>div {
  align-items: center;
}

.image_card { 
  position: relative;
  width: 382px;
  height: 306px;
  z-index: 0;
}

.image_card_tall {
  height: 582px;
}
.image_card_picture { 
  border-radius: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
}
.image_card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 12px;
  display: none;  
}

.image_card:hover .image_card_overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, .3);
}
.btn-card-red { 
  width: 63px;
  align-self: flex-end;
  font-family: 'Montserrat';
  padding: 5px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: lowercase;
  border: 1px solid #EB5757;
  border-radius: 38px;
  background-color: transparent;
  color: #EB5757;
}

.btn-card-red:hover {
  cursor: pointer;
  background-color: rgba(240, 33, 33, 0.448);
  color: #fff;
  border-color: transparent;


}

.image_card_title { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF; 
}
.modal_bg {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}
.modalContent { 
  background-color: #fefefe;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  border-radius: 12px;
  width: 620px;
  padding: 24px 32px;
  margin-top: 15%;
  z-index: 2; /* Sit on top */
}
.modal_title { 
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-bottom: 21px;
}
.form_label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #4F4F4F;
  margin-bottom: 10px;
}

.form_text_input { 
  width: 100%;
  padding: 18px;
  border: 1px solid #4F4F4F;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
  margin-bottom: 19px;
}

.form_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.btn {
  cursor: pointer;
}

.btn_form_cancel {
  font-size: 16px;
  line-height: 22px;
  color: #BDBDBD;
  border: none;
  background: none;
 }
.btn_form_submit {
  padding: 15px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
  background: #3DB46D;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.btn_form_delete {
  padding: 15px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
  background: #EB5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
 }

 @media (max-width: 1350px) {
  .App {
    padding: 35px 50px;
  }
 }

 @media (max-width: 750px) {
  .App {
    padding: 35px 25px;
  }
 }